.group {
  &__desc-container {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 2rem;
    gap: 2rem;
  }

  &__img {
    max-width: 30rem;
  }

  &__desc {
    align-self: center;
  }

  &__services-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__contacts-container {
    margin-top: 2rem;
  }

  &__map {
    height: 20rem;
  }

  &__contacts{
    display: flex;
    place-content: space-between;
  }
}
